name: Publish Updates to GitHub Pages

on:
  release:
    types: [published]

jobs:
  publish-to-gh-pages:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages

      - name: Create directories
        run: |
          mkdir -p gh-pages/update-manager/teacher
          mkdir -p gh-pages/update-manager/student

      - name: Download All Release Assets
        uses: robinraju/release-downloader@v1.9
        with:
          tag: ${{ github.event.release.tag_name }}
          fileName: "*"
          out-file-path: "assets"

      - name: Organize Assets
        run: |
          echo "Organizing files..."
          # Teacher
          # Move Exe
          find assets -name "*Teacher*.exe" -exec mv {} gh-pages/update-manager/teacher/ \;
          # Move Blockmap
          find assets -name "*Teacher*.blockmap" -exec mv {} gh-pages/update-manager/teacher/ \;
          # Move and Rename latest.yml
          if [ -f "assets/latest-teacher.yml" ]; then
            mv assets/latest-teacher.yml gh-pages/update-manager/teacher/latest.yml
          fi

          # Student
          # Move Exe
          find assets -name "*Student*.exe" -exec mv {} gh-pages/update-manager/student/ \;
          # Move Blockmap
          find assets -name "*Student*.blockmap" -exec mv {} gh-pages/update-manager/student/ \;
          # Move and Rename latest.yml
          if [ -f "assets/latest-student.yml" ]; then
            mv assets/latest-student.yml gh-pages/update-manager/student/latest.yml
          fi

      - name: Commit and Push
        run: |
          cd gh-pages
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add .
          git commit -m "Update releases for version ${{ github.event.release.tag_name }}"
          git push
